In [7]:
import pandas as pd
csv6 = pd.read_csv("data/006_lomo_orders_dataset.csv")
csv6.head(3)
csv6.count()

order_id                         99441
customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99281
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

In [4]:
import pandas as pd
csv7 = pd.read_csv("data/007_lomo_order_items_dataset.csv")
csv7.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,19/09/2017 09:45,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,03/05/2017 11:05,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,18/01/2018 14:48,199.0,17.87

In [30]:
import pandas as pd
csv4 = pd.read_csv("data/004_lomo_products_dataset.csv")
csv4.head(3)
csv4.count()

product_id                    32340
product_category_name         32340
product_name_lenght           32340
product_description_lenght    32340
product_photos_qty            32340
product_weight_g              32340
product_length_cm             32340
product_height_cm             32340
product_width_cm              32340
dtype: int64

In [5]:
merged_67 = csv6.merge(csv7,on=["order_id"])
merged_67.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,06/10/2017 11:07,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,24/07/2018 20:41,26/07/2018 03:24,26/07/2018 14:31,07/08/2018 15:27,13/08/2018 00:00,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,30/07/2018 03:24,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,08/08/2018 08:38,08/08/2018 08:55,08/08/2018 13:50,17/08/2018 18:06,04/09/2018 00:00,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,13/08/2018 08:55,159.90,19.22

In [28]:
grouped = merged_67.groupby(['order_status'] , sort = False).count()

In [78]:
grouped

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_status,,,,,,,,,,,,,
delivered,110197,110197,110197,110182,110195,110189,110197,110197,110197,110197,110197,110197,110197
invoiced,359,359,359,359,0,0,359,359,359,359,359,359,359
shipped,1185,1185,1185,1185,1185,0,1185,1185,1185,1185,1185,1185,1185
processing,357,357,357,357,0,0,357,357,357,357,357,357,357
canceled,542,542,542,542,76,7,542,542,542,542,542,542,542
unavailable,7,7,7,7,0,0,7,7,7,7,7,7,7
approved,3,3,3,3,0,0,3,3,3,3,3,3,3

In [31]:
merged_674 = merged_67.merge(csv4,on=["product_id"])
merged_674.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,8.72,utilidades_domesticas,40,268,4,500,19,8,13
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,15/08/2017 18:29,15/08/2017 20:05,17/08/2017 15:28,18/08/2017 14:44,28/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,7.78,utilidades_domesticas,40,268,4,500,19,8,13
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,02/08/2017 18:24,02/08/2017 18:43,04/08/2017 17:35,07/08/2017 18:30,15/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,29.99,7.78,utilidades_domesticas,40,268,4,500,19,8,13

In [32]:
merged_674.count()

order_id                         111046
customer_id                      111046
order_status                     111046
order_purchase_timestamp         111046
order_approved_at                111032
order_delivered_carrier_date     109889
order_delivered_customer_date    108658
order_estimated_delivery_date    111046
order_item_id                    111046
product_id                       111046
seller_id                        111046
shipping_limit_date              111046
price                            111046
freight_value                    111046
product_category_name            111046
product_name_lenght              111046
product_description_lenght       111046
product_photos_qty               111046
product_weight_g                 111046
product_length_cm                111046
product_height_cm                111046
product_width_cm                 111046
dtype: int64

In [50]:
merged_674.to_csv('merged_674_.csv', index =False)

In [39]:
csv5 = pd.read_csv("data/005_lomo_product_category_name_translation.csv")
csv5.head(3)

  product_category_name_portugese product_category_name_english
0       agro_industria_e_comercio    agro_industry_and_commerce
1                       alimentos                          food
2               alimentos_bebidas                    food_drink

In [44]:
csv_5 = csv5.rename(columns = {'product_category_name_portugese':'product_category_name'})
csv_5

        product_category_name product_category_name_english
0   agro_industria_e_comercio    agro_industry_and_commerce
1                   alimentos                          food
2           alimentos_bebidas                    food_drink
3                       artes                          arts
4          artes_e_artesanato         arts_and_craftmanship
..                        ...                           ...
66    sinalizacao_e_seguranca        signaling_and_security
67   tablets_impressao_imagem        tablets_printing_image
68                  telefonia                     telephony
69             telefonia_fixa               fixed_telephony
70      utilidades_domesticas                    housewares

[71 rows x 2 columns]

In [46]:
merged_6745 = merged_674.merge(csv_5,on=["product_category_name"])

In [58]:
merged_6745.to_csv('merged_6745.csv', index =False)

In [51]:
csv10 = pd.read_csv("data/010_lomo_marketing_qualified_leads_dataset.csv")
csv10.head(3)
csv10.count()
csv11 = pd.read_csv("data/011_lomo_closed_deals_dataset.csv")
csv11.head(3)
csv11.count()

mql_id                           842
seller_id                        842
sdr_id                           842
sr_id                            842
won_date                         842
business_segment                 842
lead_type                        842
lead_behaviour_profile           842
has_company                      842
average_stock                    842
business_type_org                842
declared_product_catalog_size    842
declared_monthly_revenue         842
dtype: int64

In [53]:
merged_leads = csv10.merge(csv11,on=["mql_id"])

In [54]:
merged_leads.to_csv('merged_leads.csv', index =False)

In [ ]:
#CFO Challenge

In [57]:
csv9 = pd.read_csv("data/009_lomo_order_reviews_dataset.csv")
csv9.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,18/01/2018 00:00,18/01/2018 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,10/03/2018 00:00,11/03/2018 03:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,17/02/2018 00:00,18/02/2018 14:36

In [59]:
csv79 = merged_6745
csv79.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,...,8.72,utilidades_domesticas,40,268,4,500,19,8,13,housewares
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,15/08/2017 18:29,15/08/2017 20:05,17/08/2017 15:28,18/08/2017 14:44,28/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,7.78,utilidades_domesticas,40,268,4,500,19,8,13,housewares

In [64]:
csv79.drop(columns=['order_estimated_delivery_date','shipping_limit_date','product_weight_g','product_length_cm','product_height_cm','product_width_cm'])

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_item_id,product_id,seller_id,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,40,268,4,housewares
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,15/08/2017 18:29,15/08/2017 20:05,17/08/2017 15:28,18/08/2017 14:44,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,7.78,utilidades_domesticas,40,268,4,housewares
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,02/08/2017 18:24,02/08/2017 18:43,04/08/2017 17:35,07/08/2017 18:30,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,7.78,utilidades_domesticas,40,268,4,housewares
3,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,delivered,23/10/2017 23:26,25/10/2017 02:14,27/10/2017 16:48,07/11/2017 18:04,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,14.10,utilidades_domesticas,40,268,4,housewares
4,6ea2f835b4556291ffdc53fa0b3b95e8,c7340080e394356141681bd4c9b8fe31,delivered,24/11/2017 21:27,25/11/2017 00:21,13/12/2017 21:14,28/12/2017 18:59,1,be021417a6acb56b9b50d3fd2714baa8,f5f46307a4d15880ca14fab4ad9dfc9b,339.00,17.12,utilidades_domesticas,48,664,6,housewares
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111017,0b82d0616f1ad8da15cf967b984b4004,986632b40c38f4240caf8608cb01d40d,delivered,03/08/2018 21:35,04/08/2018 04:25,08/08/2018 14:26,09/08/2018 21:42,1,4a24717893a6c8f3cfcf9843b8987d15,2cb6eb1b7185064167657fa09f541105,25.00,8.69,artes_e_artesanato,36,576,5,arts_and_craftmanship
111018,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,23/07/2018 18:35,24/07/2018 10:31,24/07/2018 14:37,27/07/2018 14:04,1,9c313adb4b38a55b092f53f83f78be9e,ef728fa1f17436c91ed1ccd03dcf9631,19.00,12.86,artes_e_artesanato,32,660,3,arts_and_craftmanship
111019,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,23/07/2018 18:35,24/07/2018 10:31,24/07/2018 14:37,27/07/2018 14:04,2,eacb104882d39ffb53140b1d1860a7c3,ef728fa1f17436c91ed1ccd03dcf9631,39.90,12.87,artes_e_artesanato,57,942,5,arts_and_craftmanship
111020,2c4ada2e75c2ad41dd93cebb5df5f023,363d3a9b2ec5c5426608688ca033292d,delivered,26/01/2017 11:09,26/01/2017 11:22,27/01/2017 14:59,14/02/2017 16:24,1,6c7a0a349ad11817745e3ad58abd5c79,48162d548f5b1b11b9d29d1e01f75a61,183.29,25.77,seguros_e_servicos,55,506,1,security_and_services
111021,bede3503afed051733eeb4a84d1adcc5,919570a26efbd068d6a0f66d5c5072a3,delivered,17/09/2017 16:51,19/09/2017 04:05,19/09/2017 20:22,28/09/2017 18:14,1,8db75af9aed3315374db44d7860e25da,4e922959ae960d389249c378d1c939f5,100.00,15.45,seguros_e_servicos,48,461,4,security_and_services

In [67]:
csv79 = csv79.merge(csv9,on=["order_id"])
csv79.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,review_comment_title_x,review_comment_message_x,review_creation_date_x,review_answer_timestamp_x,review_id_y,review_score_y,review_comment_title_y,review_comment_message_y,review_creation_date_y,review_answer_timestamp_y
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00,1,87285b34884572647811a353c7ac498a,...,NaN,"NÃ£o testei o produto ainda, mas ele veio corr...",11/10/2017 00:00,12/10/2017 03:43,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"NÃ£o testei o produto ainda, mas ele veio corr...",11/10/2017 00:00,12/10/2017 03:43
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,15/08/2017 18:29,15/08/2017 20:05,17/08/2017 15:28,18/08/2017 14:44,28/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,NaN,Deveriam embalar melhor o produto. A caixa vei...,19/08/2017 00:00,20/08/2017 15:16,b46f1e34512b0f4c74a72398b03ca788,4,NaN,Deveriam embalar melhor o produto. A caixa vei...,19/08/2017 00:00,20/08/2017 15:16
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,02/08/2017 18:24,02/08/2017 18:43,04/08/2017 17:35,07/08/2017 18:30,15/08/2017 00:00,1,87285b34884572647811a353c7ac498a,...,NaN,"SÃ³ achei ela pequena pra seis xÃ­caras ,mais ...",08/08/2017 00:00,08/08/2017 23:26,dc90f19c2806f1abba9e72ad3c350073,5,NaN,"SÃ³ achei ela pequena pra seis xÃ­caras ,mais ...",08/08/2017 00:00,08/08/2017 23:26

In [68]:
csv79.to_csv('merged_79.csv', index =False)

In [69]:
csv79.drop(columns=['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'])

,order_id,customer_id,order_status,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,...,review_comment_title_x,review_comment_message_x,review_creation_date_x,review_answer_timestamp_x,review_id_y,review_score_y,review_comment_title_y,review_comment_message_y,review_creation_date_y,review_answer_timestamp_y
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,06/10/2017 11:07,29.99,8.72,utilidades_domesticas,...,NaN,"NÃ£o testei o produto ainda, mas ele veio corr...",11/10/2017 00:00,12/10/2017 03:43,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"NÃ£o testei o produto ainda, mas ele veio corr...",11/10/2017 00:00,12/10/2017 03:43
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,21/08/2017 20:05,29.99,7.78,utilidades_domesticas,...,NaN,Deveriam embalar melhor o produto. A caixa vei...,19/08/2017 00:00,20/08/2017 15:16,b46f1e34512b0f4c74a72398b03ca788,4,NaN,Deveriam embalar melhor o produto. A caixa vei...,19/08/2017 00:00,20/08/2017 15:16
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,08/08/2017 18:37,29.99,7.78,utilidades_domesticas,...,NaN,"SÃ³ achei ela pequena pra seis xÃ­caras ,mais ...",08/08/2017 00:00,08/08/2017 23:26,dc90f19c2806f1abba9e72ad3c350073,5,NaN,"SÃ³ achei ela pequena pra seis xÃ­caras ,mais ...",08/08/2017 00:00,08/08/2017 23:26
3,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,delivered,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,31/10/2017 02:14,29.99,14.10,utilidades_domesticas,...,NaN,NaN,08/11/2017 00:00,10/11/2017 19:52,1bafb430e498b939f258b9c9dbdff9b1,3,NaN,NaN,08/11/2017 00:00,10/11/2017 19:52
4,6ea2f835b4556291ffdc53fa0b3b95e8,c7340080e394356141681bd4c9b8fe31,delivered,1,be021417a6acb56b9b50d3fd2714baa8,f5f46307a4d15880ca14fab4ad9dfc9b,30/11/2017 00:21,339.00,17.12,utilidades_domesticas,...,NaN,"Inicialmente, na data da compra o produto era ...",22/12/2017 00:00,28/12/2017 11:25,5caca29ffffe9086162ca51303817420,1,NaN,"Inicialmente, na data da compra o produto era ...",22/12/2017 00:00,28/12/2017 11:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113018,0b82d0616f1ad8da15cf967b984b4004,986632b40c38f4240caf8608cb01d40d,delivered,1,4a24717893a6c8f3cfcf9843b8987d15,2cb6eb1b7185064167657fa09f541105,07/08/2018 04:25,25.00,8.69,artes_e_artesanato,...,NaN,NaN,10/08/2018 00:00,13/08/2018 20:52,dbcc8337677aaefa8a711819880d4cf9,5,NaN,NaN,10/08/2018 00:00,13/08/2018 20:52
113019,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,1,9c313adb4b38a55b092f53f83f78be9e,ef728fa1f17436c91ed1ccd03dcf9631,30/07/2018 09:17,19.00,12.86,artes_e_artesanato,...,A FOLHA NAO FRISA,"Um dos frisadores que comprei, especificamente...",28/07/2018 00:00,03/08/2018 01:58,ad0de1dda4fa03e8efb68c481b31ebf8,3,A FOLHA NAO FRISA,"Um dos frisadores que comprei, especificamente...",28/07/2018 00:00,03/08/2018 01:58
113020,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,2,eacb104882d39ffb53140b1d1860a7c3,ef728fa1f17436c91ed1ccd03dcf9631,30/07/2018 09:17,39.90,12.87,artes_e_artesanato,...,A FOLHA NAO FRISA,"Um dos frisadores que comprei, especificamente...",28/07/2018 00:00,03/08/2018 01:58,ad0de1dda4fa03e8efb68c481b31ebf8,3,A FOLHA NAO FRISA,"Um dos frisadores que comprei, especificamente...",28/07/2018 00:00,03/08/2018 01:58
113021,2c4ada2e75c2ad41dd93cebb5df5f023,363d3a9b2ec5c5426608688ca033292d,delivered,1,6c7a0a349ad11817745e3ad58abd5c79,48162d548f5b1b11b9d29d1e01f75a61,30/01/2017 11:09,183.29,25.77,seguros_e_servicos,...,NaN,Envio muito rÃ¡pido. Recomendo.,15/02/2017 00:00,16/02/2017 02:54,82ec4a1c6f0134f607033e23431ee298,4,NaN,Envio muito rÃ¡pido. Recomendo.,15/02/2017 00:00,16/02/2017 02:54
113022,bede3503afed051733eeb4a84d1adcc5,919570a26efbd068d6a0f66d5c5072a3,delivered,1,8db75af9aed3315374db44d7860e25da,4e922959ae960d389249c378d1c939f5,26/09/2017 04:05,100.00,15.45,seguros_e_servicos,...,NaN,"boa tarde produto enviado errado, terei que me...",29/09/2017 00:00,30/09/2017 20:49,1067a7f22781153115958799dc72a8df,1,NaN,"boa tarde produto enviado errado, terei que me...",29/09/2017 00:00,30/09/2017 20:49

In [70]:
csv79.to_csv('merged_79_updated.csv', index =False)

In [72]:
Networkdf = csv79[['product_category_name_english','review_score_x']]

In [79]:
grouped_nw = Networkdf.groupby(['product_category_name_english'] , sort = False).count()

In [85]:
grouped_nw.append[[]]